

/*? ============= Mobile CSS ============= */
@media screen and (max-width: 600px) {

     .aboutMeSubBoxes {
          min-width: 350px;
          max-width: 350px;
          background-image: url("../../../src/img/headerBackground/Header_Colorful_Stretched.png");
          background-repeat: no-repeat;
          background-size: cover;
          /* background-size: auto; */
          /* background-size: 900px; */
          border-color: white;
          border-style: solid;
          border-width: 10px;
          border-radius: 60px;
          -webkit-border-radius: 60px;
          -moz-border-radius: 60px;
          -ms-border-radius: 60px;
          -o-border-radius: 60px;
          font-family: Inter;
          /* font-family: "SF-Mono"; */
          font-size: 15px;
          justify-content: center;
     }

     .aboutMeTitle {
          font-family: "SF-Mono";
          font-size: 40px;
          border-style: solid;
          border-width: 10px;
          padding: 20px;
          margin-top: 30px;
          margin-bottom: 30px;
     }

     .aboutTextPadding {
          padding: 20px 30px 20px 20px;
     }

     .aboutRightBox {
          /* margin-right: 0px; */
          justify-content: center;
     }

     .aboutText {
          margin-top: 30px;
          padding: 10px 0px 25px 0px;
          justify-content: center;
     }

     .aboutLeftBox {
          margin-left: 10%;
          margin-right: 10%;
          justify-content: center;
     }

     .HeaderAboutSpacer {
          margin-top: 20px;
          padding-top: 50px;
          margin-bottom: 25px;
     }

     .aboutMePar1Picture {
          height: 300px;
          margin-left: 15px;
          margin-top: 40px;
          border-radius: 25px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          -o-border-radius: 25px;
     }

     .aboutMePar2Picture {
          width: 400px;
          min-width: 400px;
          /* margin-top: 25px; */
          margin-left: 30px;
          margin-bottom: 40px;
          border-radius: 25px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          -o-border-radius: 25px;
     }

     .aboutMePar3Picture {
          height: 300px;
          /* margin-left: 15%; */
          border-radius: 25px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          -o-border-radius: 25px;
     }

     .aboutMePar4Picture {
          height: 350px;
          min-width: 200px;
          margin-left: 55px;
          margin-bottom: 50px;
          border-radius: 25px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          -o-border-radius: 25px;
     }

     .aboutMePar5Picture {
          height: 150px;
          /* margin-left: 10%; */
          margin-bottom: 25px;
          border-radius: 25px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          -o-border-radius: 25px;
     }

     .aboutMePar6Picture {
          height: 200px;
          min-width: 100px;
          margin-left: 50px;
          margin-bottom: 50px;
          border-radius: 25px;
          -webkit-border-radius: 25px;
          -moz-border-radius: 25px;
          -ms-border-radius: 25px;
          -o-border-radius: 25px;
     }
}