

/* 
________/\\\\\\\\\_____/\\\\\\\\\\\_______/\\\\\\\\\\\___        
 _____/\\\////////____/\\\/////////\\\___/\\\/////////\\\_       
  ___/\\\/____________\//\\\______\///___\//\\\______\///__      
   __/\\\_______________\////\\\___________\////\\\_________     
    _\/\\\__________________\////\\\___________\////\\\______    
     _\//\\\____________________\////\\\___________\////\\\___   
      __\///\\\___________/\\\______\//\\\___/\\\______\//\\\__  
       ____\////\\\\\\\\\_\///\\\\\\\\\\\/___\///\\\\\\\\\\\/___ 
        _______\/////////____\///////////_______\///////////____

   _____ _             _                 _____ _                         
  / ____| |           | |               / ____| |                        
 | |    | | __ _ _   _| |_ ___  _ __   | (___ | | ____ _  __ _  __ _ ___ 
 | |    | |/ _` | | | | __/ _ \| '_ \   \___ \| |/ / _` |/ _` |/ _` / __|
 | |____| | (_| | |_| | || (_) | | | |  ____) |   < (_| | (_| | (_| \__ \
  \_____|_|\__,_|\__, |\__\___/|_| |_| |_____/|_|\_\__,_|\__, |\__, |___/
                  __/ |                                   __/ | __/ |    
                 |___/                                   |___/ |___/  
*/


/*? ============= Font Import ============= */

@font-face {
  font-family: "NextStep-1";
  src: local("NextStep-1"),
    url("./fonts/NextStep_FONT/NEXTSTEP.ttf") format("truetype");
}

@font-face {
  font-family: "Arvo-Bold";
  src: local("Arvo-Bold"),
    url("./fonts/Arvo/Arvo-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: local("Arvo-Bold"),
    url("./fonts/Inter/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SF-Mono";
  src: local("SF-Mono"),
    url("./fonts/SFMono-Regular.otf") format("truetype");
}

:root {
  --main-font: "NextStep-1"
  /* --text-font: "Arvo-Bold" */
}



/*? ============= Home Page ============= */

.homePageMainPhoto {
     margin-top: 100px;
     width: 70%;
     margin-bottom: 50px;
     border-radius: 150px;
     -webkit-border-radius: 150px;
     -moz-border-radius: 150px;
     -ms-border-radius: 150px;
     -o-border-radius: 150px;
}

.divMain {
     background-color: #75b9be9d;
}

.HeaderSpacer{
     margin-top: 125px;
}

.HeaderPhotoSpacer {
     margin-top: 125px;
     /* background-color: #75b9be9d; */
}

/*? ============= Contact Page ============= */

.contactHeaderText {
     font-family: var(--main-font);
     font-size: 60px;
     color: black;
}

.contactBox {
     width: 700px;
     height: 700px;
     margin-bottom: 100px;
     background-color: #9CF6F6;
     border-radius: 60px;
     -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
     -ms-border-radius: 60px;
     -o-border-radius: 60px;
}

contact {
     font-family: "SF-Mono";
     font-size: 50px;
}

.emailFont{
     font-size: 35px;
}

.emailLinkText{
     font-size: 25px;
     text-decoration: none !important;
}

.contactPhoto {
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
}

/*? ============= About Me Page ============= */

.aboutMeBox{
     width: 900px;
     /* height: 1500px; */
     margin-bottom: 100px;
     background-color: #9CF6F6;
     border-radius: 60px;
     -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
     -ms-border-radius: 60px;
     -o-border-radius: 60px;
     font-family: "Arvo-Bold";
     font-size: 20px;
}

.aboutMeSubBoxes {
     width: 900px;
     /* margin-bottom: 100px; */
     background-color: #9cf6f6c2;
     border-radius: 60px;
     -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
     -ms-border-radius: 60px;
     -o-border-radius: 60px;
     font-family: "Inter";
     font-size: 20px;
}

.aboutMeTitle {
     font-family: "SF-Mono";
     font-size: 50px;
}

.aboutRightBox {
     margin-right: 10%;
}

.aboutLeftBox {
     margin-left: 10%;
}


.programLanguagesBox {
     width: 320px;
     height: 380px;
     margin-bottom: 100px;
     background-color: #f9b5acd4;
     border-radius: 60px;
     -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
     -ms-border-radius: 60px;
     -o-border-radius: 60px;
}

.programLanguagesBox2 {
     width: 600px;
     height: 380px;
     margin-bottom: 100px;
     background-color: #ef8f46d3;
     border-radius: 60px;
     -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
     -ms-border-radius: 60px;
     -o-border-radius: 60px;
}

.languagesList{
     font-size: 17px;
     font-family: "SF-Mono";
}

.languagesListTitle{
     font-size: 28px;
     font-family: "SF-Mono";
}

.HeaderAboutSpacer {
     margin-top: 125px;
     padding-top: 50px;
}


/*? ============= Dev Portfolio ============= */

.portfolioMainBox {
     /* background-color: #ef8f46d3; */
     width: 80%;
     height: 510px;
     border-style: solid;
     border-width: 5px;
}

.portfioloDemoBox {
     background-color: #898989;
     width: 100px;
     height: 250px;
     border-style: solid;
     border-width: 5px;
}