

/* 
________/\\\\\\\\\_____/\\\\\\\\\\\_______/\\\\\\\\\\\___        
 _____/\\\////////____/\\\/////////\\\___/\\\/////////\\\_       
  ___/\\\/____________\//\\\______\///___\//\\\______\///__      
   __/\\\_______________\////\\\___________\////\\\_________     
    _\/\\\__________________\////\\\___________\////\\\______    
     _\//\\\____________________\////\\\___________\////\\\___   
      __\///\\\___________/\\\______\//\\\___/\\\______\//\\\__  
       ____\////\\\\\\\\\_\///\\\\\\\\\\\/___\///\\\\\\\\\\\/___ 
        _______\/////////____\///////////_______\///////////____

   _____ _             _                 _____ _                         
  / ____| |           | |               / ____| |                        
 | |    | | __ _ _   _| |_ ___  _ __   | (___ | | ____ _  __ _  __ _ ___ 
 | |    | |/ _` | | | | __/ _ \| '_ \   \___ \| |/ / _` |/ _` |/ _` / __|
 | |____| | (_| | |_| | || (_) | | | |  ____) |   < (_| | (_| | (_| \__ \
  \_____|_|\__,_|\__, |\__\___/|_| |_| |_____/|_|\_\__,_|\__, |\__, |___/
                  __/ |                                   __/ | __/ |    
                 |___/                                   |___/ |___/  
*/


/*? ============= Font Import ============= */

@font-face {
  font-family: "NextStep-1";
  src: local("NextStep-1"),
    url("./fonts/NextStep_FONT/NEXTSTEP.ttf") format("truetype");
}



/*? ============= Home Page ============= */

.homePageMainPhoto {
     margin-top: 100px;
     width: 70%;
     margin-bottom: 50px;
     border-radius: 150px;
     -webkit-border-radius: 150px;
     -moz-border-radius: 150px;
     -ms-border-radius: 150px;
     -o-border-radius: 150px;
}

.divMain {
     background-color: #75b9be9d;
}

.HeaderSpacer{
     margin-top: 125px;
}

.HeaderPhotoSpacer {
     margin-top: 125px;
     /* background-color: #75b9be9d; */
}

/*? ============= Contact Page ============= */

.contactHeaderText {
     font-family: NextStep-1;
     font-size: 60px;
     color: black;
}

.contactBox {
     width: 700px;
     height: 700px;
     margin-bottom: 100px;
     background-color: #9CF6F6;
     border-radius: 60px;
     -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
     -ms-border-radius: 60px;
     -o-border-radius: 60px;
}

contact {
     font-family: NextStep-1;
     font-size: 50px;
}

.emailFont{
     font-size: 35px;
}

.emailLinkText{
     font-size: 25px;
     text-decoration: none !important;
}

.contactPhoto {
     border-radius: 50px;
     -webkit-border-radius: 50px;
     -moz-border-radius: 50px;
     -ms-border-radius: 50px;
     -o-border-radius: 50px;
}

/*? ============= About Me Page ============= */

.AboutMeBox{
     width: 900px;
     height: 1500px;
     margin-bottom: 100px;
     background-color: #9CF6F6;
     border-radius: 60px;
     -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
     -ms-border-radius: 60px;
     -o-border-radius: 60px;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 20px;
}

.aboutMeTitle {
     font-family: NextStep-1;
     font-size: 50px;
}

.programLanguagesBox {
     width: 320px;
     height: 380px;
     margin-bottom: 100px;
     background-color: #EE7674;
     border-radius: 60px;
     -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
     -ms-border-radius: 60px;
     -o-border-radius: 60px;
}

.programLanguagesBox2 {
     width: 500px;
     height: 400px;
     margin-bottom: 100px;
     background-color: #EE7674;
     border-radius: 60px;
     -webkit-border-radius: 60px;
     -moz-border-radius: 60px;
     -ms-border-radius: 60px;
     -o-border-radius: 60px;
}