
/*? ============= Mobile CSS ============= */

@media screen and (max-width: 600px) {

     .portfolioMainBox {
          /* background-color: #ef8f46d3; */
          width: 80%;
          height: 510px;
          border-style: solid;
          border-width: 5px;
     }

     .portfioloDemoBox1 {
          background-color: var(--alt-color2b);
          background-size: 730px;
          width: 120%;
          border-style: solid;
          border-width: 5px;
     }

     .portfioloDemoBox2 {
          background-color: var(--alt-color1);
          background-size: 730px;
          width: 120%;
          border-style: solid;
          border-width: 5px;
     }

     .portfioloDemoBox3 {
          background-color: var(--alt-color3);
          background-size: 730px;
          width: 120%;
          border-style: solid;
          border-width: 5px;
     }

     .portfioloSubBoxLeft {
          border-width: 0px 5px 0px 0px;
          border-style: solid;
          max-width: 150px;
     }

     .portfioloTitle {
          font-size: 30px;
          font-family: "SF-Mono";
          border-style: solid;
          border-width: 10px;
     }

     .aboutMeTitle {
          font-size: 50px;
          font-family: "SF-Mono";
          border-style: solid;
          border-width: 10px;
          margin-top: 80px;
     }

     .portfioloAppTitle1 {
          /* margin-top: 10px; */
          font-size: 25px;
          font-family: "SF-Mono";
          border-style: dashed;
          border-width: 10px;
     }

     .portfioloAppTitle2 {
          margin-left: 55px;
          font-size: 25px;
          font-family: "SF-Mono";
          border-style: dashed;
          border-width: 10px;
     }

     .portfioloAppTitle3 {
          margin-left: 45px;
          font-size: 25px;
          font-family: "SF-Mono";
          border-style: dashed;
          border-width: 10px;
          width: 350px;
          margin-top: 80px;
     }

     .demoGIF1{
          justify-content: center;
          width: 150px;
          margin: 0px 0px 20px 0px;
          /* margin-bottom: 50px; */
          border-radius: 10px;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
     }

     a { color: inherit; } 

     .demoTitle {
          font-size: 18px;
          margin-top: 30px;
          margin-bottom: 20px;
     }

     .demoText {
          font-family: "SF-Mono";
          font-size: 12px;
     }

     .portfolioAboutMe {
          max-width: 400px;
          width: 400px;
          background-image: url("../../src/img/headerBackground/Header_Colorful_Wide.png");
          background-size: 500px;
          border-radius: 50px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          -ms-border-radius: 50px;
          -o-border-radius: 50px;
          font-family: "Arvo-Reg";
          font-size: 14px;
     }

     .resumeDownloadText {
          font-family: "SF-Mono";
          font-size: 25px;
          border-style: solid;
          width: 100%;
          border-width: 10px;
     }

     .PDFViewer {
          max-width: 435px;
          max-height: 600px;
     }

     .resumeDownloadBox {
          padding-top: 30px;
          /* padding-bottom: 50px; */
          width: 250px;
          
     }

     .softwareStackBox {
          font-family: "SF-Mono";
          font-size: 15px;
          border-width: 0px 5px 0px 0px;
          border-style: solid;
          /* text-align: center; */
     }

     .softwareStackList {
          text-align: left;
          /* align-items: center; */
          font-size: 7px;
          padding: 0px 0px 0px 0px;
          margin-top: 15px;
     }

     .softwareStackListItem {
          padding: 10px 0px 0px 0px;
     }

     .projectDesTitles {
          text-align:center;
          font-family: "SF-Mono";
          font-size: 12px;
          margin-top: 20px;
     }

     .projectDesTitles2 {
          text-align:center;
          font-family: "SF-Mono";
          font-size: 12px;
          margin-top: 20px;
          margin-bottom: 10px;
     }

     .projectDesText {
          font-family: "Arvo-Bold";
          font-size: 9px;
          margin-top: 10px;
          padding: 0px 5px 0px 5px;
     }

     .projectSubDesText {
          font-family: "Arvo-Reg";
          font-size: 9px;
          margin-top: 10px;
          padding: 0px 0px 0px 5px;
          margin-bottom: 30px;
     }

     .projectGoalText{
          margin-left: 10px;
          text-align: left;
          font-size: 9px;
          width: 80%;
     }

     .railwayLogo {
          height: 20px;
          margin-top: 30px;
          /* margin-right: 50px; */
          border-radius: 5px;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          -ms-border-radius: 5px;
          -o-border-radius: 5px;
     }

     .logoOffset {
          margin-right: 10px;
     }

     .featuredProjects {
          max-width: 380px;
          padding: 0px 8px 0px 15px
     }

     .GitHub {
          margin-top: 10px;
          width: 25px;
     }

     .GitHubText{
          margin-bottom: 10px;
     }
     
     .stackText {
          margin-top: 10px;
          margin-right: 10px;
     }

     .projectSubDesTextItem {
          margin-top: 10px;
     }

     .portfioloSubBoxRight {
          padding-right: 0px;
     }

     .contactPhotoPortfolio {
          width: 350px;
          margin-bottom: 50px;
          border-radius: 50px;
          -webkit-border-radius: 50px;
          -moz-border-radius: 50px;
          -ms-border-radius: 50px;
          -o-border-radius: 50px;
     }

     .demoLoginInfoBox {
          border-style: dashed;
          border-width: 3px;
          padding: 3px;
          max-width: 100%;
          margin: 20px 0px 20px 0px;
     }

     .demoTargetInfoBox {
          border-style: dashed;
          border-width: 3px;
          padding: 3px;
          width: 100%;
          margin: 10px 0px 10px 0px;
     }

     .demoLoginText {
          font-size: 7px;
          text-align: left;
          margin-bottom: 5px;
     }

     .demoLoginTitleText {
          font-size: 10px;
          text-align: center;
          text-decoration: underline;
          margin-bottom: 10px;
     }

     .demoScreenText {
          font-size: 6px;
          text-align: center;
     }

     .demoLinkText {
          font-size: 13px;
          overflow: hidden;
          white-space: nowrap;
     }

     .appHost {
          margin-top: 20px;
     }

     .developmentStatus {
          margin-top: 25px;
     }

     .developmentStatusTitleText{
          font-size: 10px;
          text-align: center;
          text-decoration: underline;
          margin-bottom: 5px;
     }

     .developmentStatusText {
          color: #83B82E;
          font-size: 10px;
          font-weight: 700;
          text-align: center;
     }

     .developmentStatusBox{
          border-style: dashed;
          border-width: 3px;
          border-color: #83B82E;
          padding: 5px;
          max-width: 80%;
          margin: 15px 0px 0px 5px;
     }

     .developmentInactiveStatusText {
          color: #B8302E;
          font-size: 10px;
          font-weight: 700;
     }

     .developmentInactiveStatusBox{
          border-style: dashed;
          border-width: 3px;
          border-color: #B8302E;
          padding: 5px;
          max-width: 80%;
          margin: 15px 0px 0px 5px;
     }

}