.Header {
  position: fixed;
  top: 0; /* Stick it to the top */
  height: 200px;
  width: 100vw;
  font-family: NextStep-1;
  font-weight: 900;
  color: #9cf6f6;
  display: grid;
  grid-template-areas: "logo nav";

  /* Cosmetics */
  /* background-color: #9663b6; */
  background-color: #ef8f46dc;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.MediaButton {
  font-size: 50px;
}

.DropMenu{
  /* background-color: #ef8f46dc; */
  font-size: 30px;
}

.navBarText {
  font-size: 30px;
  color: black;
}