

.Header {
  position: fixed;
  top: 0; /* Stick it to the top */
  height: 125px;
  width: 100vw;
  font-family: NextStep-1;
  font-weight: 900;
  color: white;
  display: grid;
  grid-template-areas: "logo nav";
  background-image: url("../../img/headerBackground/Header_Colorful2.png");
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


.MediaButton {
  font-size: 50px;
}

.DropMenu{
  /* background-color: #ef8f46dc; */
  font-size: 30px;
}

.navBarText {
  font-size: 30px;
  color: black;
}

.navBarText:hover {
  font-size: 60px;
  color: white;
}

.Logo {
  margin-top: 12px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}